<!DOCTYPE html>
<html>
<head>
  <title>DevopsKeychain - New Private Key</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<FORM METHOD="LINK" ACTION="/key/create">
	<INPUT TYPE="submit" VALUE="New Private Key">
</FORM>

</body>
</html>
