<% if user_signed_in? %>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Password</th>
      </tr>

    <% @passwords.each do |password| %>
      <tr>
        <td><%= password.name %></td>
        <td>
          <input type="password" value="<%= password.content %>">
            
          </input>
        </td>
      </tr>
    <% end %>
    </table>
<% end %>


<%- content_for(:js) do -%>
  <%= javascript_include_tag "hideShowPassword.min" -%>
<%- end -%>

  <script>
    $('input').hideShowPassword(false, true);
  </script>