/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.navbar{
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.fill-horizontal{
	width: 100%;
}

.no-bottom-margin{
	margin-bottom: 0px !important;
}

p.alert{
	text-align: center;
	margin-left:50px;
	margin-right:50px;
}